@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #22D4FD;
    --color-secundario: #F6F6F6;
    --color-terciario: #000000;

    --fuente-monserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-terciario);
    color: var(--color-secundario);

   
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 15%;

}

.header-menu {
    display: flex;
    gap: 80px;
}

.header-menu-link {
   font-family: var(--fuente-monserrat);
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--color-primario);
    text-decoration: none;
}


.presentacion{
    display: flex;
    align-items: center;
    padding: 3% 15%;
    justify-content: space-between;
    gap: 82px;
}

.texto-presentacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}   

.presentacion-contenido-titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-primario);
}

.presentacion-contenido-texto {
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);

}
.presentacion-contenido-texto:hover{
    color: gray;
}

.presentacion-enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion-enlace-link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 5px double var(--color-primario);
    display:flex;
    justify-content: center;
    gap: 10px;

}

.presentacion-enlace-subtitulo{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion-enlace-link:hover{
    background-color: #272727;
}

.presentacion-imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-primario);
    padding: 24px;
    color:#000000;
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
    .header-menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .texto-presentacion{
        width: auto;
    }
}